.container{
    display: flex;
    justify-content: center; /* Puts the flex container in the center */
    flex-direction: column;
    width: 500px;
    align-items: center;
}
table td {
    border: 1px solid gray;
    width: 100px; /* The size of the cells */
    height:100px;
} 